.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
data/in/*
data/out/*
!data/in/.gitkeep
!data/out/.gitkeep
logs
manually_checked_sr_papers-untagged.csv
mers-excluded.csv
mers-included.csv
mers-irrelevant.csv
mers-not_matched.csv
mers-pdfs
mers-review_53954_20260303022155.csv
not_matched.csv
paper1_MERS_test.xlsx
pdfs
refs-in-sytematic-review.xlsx
review_53887_excluded_csv_20260221022847.csv
review_53887_included_csv_20260221022843.csv
review_53887_irrelevant_csv_20260221022851.csv
review_53887_screen_csv_20260221022731.csv
review_53887_select_csv_20260221022835.csv
rvf-refs-title-and-abstract-screening.csv
rvf_review_53887_included_and_excluded.csv
zika_deduplicated_references.csv
titles_matched.csv
